
@{
    ViewData["Title"] = "Edit";
}

<div class="text-center d-flex justify-content-center align-items-center">
    <h1 class="display-4">PokeAPi</h1>
    <ul>
        @Model (var paginate in Model.results)
        {
            <li class="btn btn-primary m-2">
                @Model.next
            </li>
        }
    </ul>
</div>

